<!-- Trong file AddContent.html -->
{% extends 'base.html' %}

{% block title %}Add Content{% endblock %}

{% block content %}
<div id="Article_Block_3_For_List" style="float: left; width: 60%; position: relative; margin-left: 20px; margin-top: 20px;">
    <h5>Tạo bài viết mới</h5>
    <form method="post" action="{{ url_for('create_article') }}">
        <div class="mb-3">
            <label for="title" class="form-label">Tiêu đề</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Nội dung</label>
            <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Thêm bài viết</button>
    </form>
</div>
{% endblock %}